@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container{
    background-color: #fff;
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #444;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #333;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box i {
    height: 80px;
    color: wheat;
}

.container .box-container .box h3{
    color: #fff;
    font-size: 22px;
    padding: 10px 0;
}

.container .box-container .box p{
    color: #fff;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background: #000;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

.container .back-btn {
    color: #fff;
    background-color: #333;
    padding: 7px 12px;
    border-radius: 5px;
    margin-left: -95px;
}

.modal {
    width: 400px;
    height: 460px;
    margin: -600px auto 0px auto;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: .4s;
}

.modal .modal-header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 18px;
}

.modal .modal-body {
    text-align: center;
}

.modal .modal-body img {
    width: 40%;
    margin: 10px 0 30px;
}

.modal .modal-body h3 {
    color: #21202c;
    font-size: 40px;
}

.modal .modal-body button {
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
    background: #fe425b;
    color: #ffffff;
    padding: 12px 120px;
    border-radius: 6px;
    letter-spacing: 1px;
    transition: .4s;
}

.modal#hide {
    opacity: 0;
    transform: scale(.6);
    pointer-events: none;
}

.modal#show {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

/* #showButton {
    cursor: pointer;
    position: absolute;
    background: #21202c;
    color: #ffffff;
    padding: 14px 22px;
    font-size: 18px;
    border-radius: 8px;
    letter-spacing: .5px;
} */

@media (max-width:768px){
    .container{
        padding:20px;
    }
}